<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP | NodeJS</title>
</head>
<body>
    
    VALIDATOR
    <input type="text" placeholder="CODE">
    <button type="submit">CHECK</button>
</body>
</html>