<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP | NodeJS</title>
</head>
<body>
    <form method="post" action="/confirmation">
        OTP-CODE VALIDATOR
        <input name="otp_code" type="text" placeholder="CODE">
        <button type="submit">CHECK</button>
    </form>
</body>
</html>